<h1>タスク一覧</h1>
<table>
  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">タスク名</th>
      <th scope="col">カテゴリ名</th>
      <th scope="col">終了期限</th>
      <th scope="col">優先順位</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each.with_index(1) do |task, i| %>
      <tr>
        <th scope="row"><%= i %></th>
        <td><%= task.name %></td>
        <td>
        <% task.categories.each do |category| %>
            <%= category.name %>
        <% end %>
        </td>
        <td><%= task.deadline.strftime("%Y-%m-%d") %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td>
          <%= link_to "詳細", task %>
          <%= link_to "編集", edit_task_path(task) %>
          <%= button_to "削除", task_path(task), method: :delete, data: { confirm: "削除しますか?" }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
 
<div><%= link_to "登録", new_task_path %></div>
