<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body id="point">
  <%= link_to "タスク一覧", tasks_path %>
  <%= link_to "カテゴリ一覧", categories_path %>
    <hr>
    <%= render "layouts/flash" %>
    <%= yield %>
  </body>
</html>
